*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* HEADER */

header {
  background-color: #ffc017;
  border-bottom: solid 1px #191919;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: background-color 0.333s;
}

.header {
  width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 27px;
  color: #191919;
}

.logo {
  width: 190px;
}

nav {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  display: inline-block;
  font-size: 1rem;
  margin-right: 16px;
}

nav ul li:hover {
  color: #1a8917;
  cursor: pointer;
}

#headerBtn {
  color: #ffffff;
  background-color: #191919;
  font: inherit;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  padding-block: 12px;
  padding-inline: 15px;
  border: none;
  border-radius: 25px;
  transition: background-color 0.333s;
}

#headerBtn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* HERO */

.yellowHero {
  background-color: #ffc017;
  border-bottom: solid 1px #191919;
}

.hero {
  margin-left: 192px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* M lampeggianti */
.fade {
  opacity: 0;
  transition: opacity 0.333s ease-in-out;
}

/* .fade2 {
  animation: blink 2s ease-in-out infinite;
}

.fade3 {
  animation: blink 5s ease-in-out infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

.containerHero h1 {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 8.5rem;
  letter-spacing: -7px;
}

.containerHero p {
  padding-top: 40px;
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: #191919dc;
}

.heroBtn {
  margin-top: 55px;
  color: #efeded;
  background-color: #191919;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-block: 13px;
  padding-inline: 60px;
  border: none;
  border-radius: 30px;
}

.heroBtn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.daCambiare {
  width: 700px;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* TRENDING */
.allOrizontal {
  border-bottom: solid 2px #c0bdbd2e;
  padding-bottom: 27px;
}

.trending {
  display: flex;
  align-items: center;
  width: 80%;
  margin-inline: auto;
  margin-top: 48px;
  margin-bottom: 10px;
}

.trending h2 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.6px;
  padding-left: 8px;
  margin-top: 0;
}

/* Trendings 1-6  */
.containerAllTrendings {
  width: 80%;
  margin-inline: auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.trendingContainer {
  display: flex;
  align-items: flex-start;
  width: 30%;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

.trendingContainer:hover {
  border-bottom: #c5c5c5 solid 1px;
  transform: scale(1.1);
  cursor: pointer;
}

.trendingContainer:not(:nth-child(3)):not(:nth-child(6)) {
  margin-right: 50px;
}

.trendingContainer > p:first-of-type {
  font-size: 2.2rem;
  font-weight: 800;
  letter-spacing: -2px;
  color: #3434341d;
  margin-right: 18px;
}

.author {
  display: flex;
  align-items: center;
  padding-top: 5px;
}
.author p {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.3px;
}

.trendingContainer span {
  color: #6e6e6e;
}

.circle {
  border-radius: 50%;
  width: 26px;
  margin-right: 8px;
}

.square {
  border-radius: 7px;
  width: 24px;
  margin-right: 8px;
}

.info > p:first-of-type {
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 0.2px;
  padding-top: 16px;
  line-height: 1.6rem;
}

.info > p:last-of-type {
  font-size: 1rem;
  color: #19191998;
  display: inline-block;
  padding-top: 16px;
}

.starTrendings {
  width: 22px;
  position: relative;
  top: 5px;
}

/* ------------------------------------------------------------------------------------------------------------ */

.content {
  width: 80%;
  margin-inline: auto;
  display: flex;
}

/* ARTICLES */

.articlesContainer {
  margin-top: 50px; /* DA ELIMINARE DOPO 🔴*/
  width: 50%;
  margin-bottom: 100px; /* DA SISTEMARE DOPO 🔴*/
}

.singleArticle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.singleArticle:hover {
  transform: scale(1.1);
  cursor: pointer;
}

h2 {
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 0.4px;
  margin-top: 10px;
}

.boxArticles {
  width: 600px;
}

.boxArticles > p {
  color: #00000076;
  font-size: 1.2rem;
  padding-top: 10px;
  line-height: 1.5rem;
}

.infoArticles {
  font-size: 1.1rem;
  font-weight: 500;
  color: #19191958;
  letter-spacing: 0.5px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.infoArticles p {
  display: inline-block;
  padding-bottom: 10px;
}

.intrests {
  /* Zona grigia dopo la data */
  border-radius: 20px;
  background-color: #f1f2f2;
  padding-inline: 15px;
  padding-block: 5px;
}

.star {
  width: 24px;
  position: relative;
  top: 4px;
}

/* .boxImage {
  display: inline-block;
  width: 40%;
}

.boxImage img {
  width: 70%;
  margin-left: 10px;
} */

.bookmark {
  position: relative;
  top: 74px;
  left: -70px;
  width: 33px;
}

.articleImg {
  width: 225px;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* DISCOVER */

aside {
  margin-top: 30px;
  margin-left: 130px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  position: sticky;
  top: 95px;
}

.whatMatters {
  font-size: 1.2rem;
  letter-spacing: 0.7px;
  padding-bottom: 20px;
  margin-top: 30px;
}

.buttonsDiscover {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;

  width: 80%;
  padding-bottom: 40px;
  border-bottom: #1919192d solid 1px;
  margin-bottom: 40px;
}

.buttonsDiscover button {
  font-family: inherit;
  font-size: 1.1rem;
  color: rgba(104, 103, 103, 0.956);
  padding: 10px;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.291);
  border-radius: 3px;
}

.buttonsDiscover button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.anchor {
  display: flex;
  flex-wrap: wrap;

  width: 90%;
}

.anchor a {
  text-decoration: none;
  color: rgba(104, 103, 103, 0.956);
  font-size: 1.1rem;
  padding-right: 30px;
  line-height: 2.2rem;
}

.anchor a:hover {
  color: #1a8917;
}
